@layout('layouts/logged-in')
@set("title", "Not Found")

@section("body")
<div class="container text-center" >
    <img src="{{ asset('assets/img/404.png') }}" class="img-fluid" style="max-height:80%" />
</div>
@end